
.font-shadow-multiple {
  text-shadow: .04em .04em 0 #fff,.08em .08em 0 #aaa;
  -webkit-text-shadow: .04em .04em 0 #fff, .08em .08em 0 #aaa;
}


.font-effect-3d-float {
  text-shadow: 0 0.032em 0 #b0b0b0, 0px 0.15em 0.11em rgba(0,0,0,0.15), 0px 0.25em 0.021em rgba(0,0,0,0.1), 0px 0.32em 0.32em rgba(0,0,0,0.1);
  color: #fff;
}
.font-3d {
  text-shadow: 0px 1px 0px #c7c8ca, 0px 2px 0px #b1b3b6, 0px 3px 0px #9d9fa2, 0px 4px 0px #8a8c8e, 0px 5px 0px #77787b, 0px 6px 0px #636466, 0px 7px 0px #4d4d4f, 0px 8px 7px #001135;
  color: #fff;
}
.font-neon {
  text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #f7f,0 0 0.6em #f0f, 0 0 0.8em #f0f, 0 0 1.0em #f0f, 0 0 1.2em #f0f;
  color: #fff;
}
.font-outline {
  text-shadow:0 1px 1px #000, 0 -1px 1px #000, 1px 0 1px #000, -1px 0 1px #000;
  color: #fff;
}
.font-fire {
  text-shadow: 0 -0.05em 0.2em #FFF, 0.01em -0.02em 0.15em #FE0, 0.01em -0.05em 0.15em #FC0, 0.02em -0.15em 0.2em #F90, 0.04em -0.20em 0.3em #F70, 0.05em -0.25em 0.4em #F70, 0.06em -0.2em 0.9em #F50, 0.1em -0.1em 1.0em #F40;
  color: #ffe;
}
@-webkit-keyframes font-effect-fire-animation-keyframes {
  0% {
    text-shadow: 0 -0.05em 0.2em #FFF, 0.01em -0.02em 0.15em #FE0, 0.01em -0.05em 0.15em #FC0, 0.02em -0.15em 0.2em #F90, 0.04em -0.20em 0.3em #F70,0.05em -0.25em 0.4em #F70, 0.06em -0.2em 0.9em #F50, 0.1em -0.1em 1.0em #F40;
  }
  25% {
    text-shadow: 0 -0.05em 0.2em #FFF, 0 -0.05em 0.17em #FE0, 0.04em -0.12em 0.22em #FC0, 0.04em -0.13em 0.27em #F90, 0.05em -0.23em 0.33em #F70, 0.07em -0.28em 0.47em #F70, 0.1em -0.3em 0.8em #F50, 0.1em -0.3em 0.9em #F40;
  }
  50% {    text-shadow: 0 -0.05em 0.2em #FFF, 0.01em -0.02em 0.15em #FE0, 0.01em -0.05em 0.15em #FC0, 0.02em -0.15em 0.2em #F90, 0.04em -0.20em 0.3em #F70,0.05em -0.25em 0.4em #F70, 0.06em -0.2em 0.9em #F50, 0.1em -0.1em 1.0em #F40;
  }
  75% {
    text-shadow: 0 -0.05em 0.2em #FFF, 0 -0.06em 0.18em #FE0, 0.05em -0.15em 0.23em #FC0, 0.05em -0.15em 0.3em #F90, 0.07em -0.25em 0.4em #F70, 0.09em -0.3em 0.5em #F70, 0.1em -0.3em 0.9em #F50, 0.1em -0.3em 1.0em #F40;
  }
  100% {
    text-shadow: 0 -0.05em 0.2em #FFF, 0.01em -0.02em 0.15em #FE0, 0.01em -0.05em 0.15em #FC0, 0.02em -0.15em 0.2em #F90, 0.04em -0.20em 0.3em #F70,0.05em -0.25em 0.4em #F70, 0.06em -0.2em 0.9em #F50, 0.1em -0.1em 1.0em #F40;
  }
}
.font-fire-animation {
  -webkit-animation-duration:0.8s;
  -webkit-animation-name:font-effect-fire-animation-keyframes;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction:alternate;
  color: #ffe;
}
.font-emboss {
  text-shadow: 0px 1px 1px #fff, 0 -1px 1px #000;
  color: #ddd;
}
.font-anaglyph {
  text-shadow: -0.06em 0 red, 0.06em 0 cyan;
}
.droid-serif {
    font-family: 'Droid Serif', serif;
}
.kaushan-script {
    font-family: 'Kaushan Script', cursive;
}
.montserrat {
    font-family: 'Montserrat', sans-serif;

}
.roboto-slab {
    font-family: 'Roboto Slab', serif;
}
.size-6 {
    font-size: 6px;
}
.size-12 {
    font-size: 12px;
}
.size-16 {
    font-size: 16px;
}
.size-18 {
    font-size: 18px;
}
.size-20 {
    font-size: 20px;
}
.size-24 {
    font-size: 24px;
}
.size-28 {
    font-size: 28px;
}
.size-32 {
    font-size: 32px;
}
.size-36 {
    font-size: 36px;
}
.size-40 {
    font-size: 40px;
}
.size-44 {
    font-size: 44px;
}
.size-48 {
    font-size: 48px;
}
.size-52 {
    font-size: 52px;
}
.size-56 {
    font-size: 56px;
}
.size-60 {
    font-size: 60px;
}
.shadow-1 {
  text-shadow: 1px 1px 1px #aaa;
}
.shadow-2 {
  text-shadow: 1px 1px 1px #aaa;
}
.shadow-3 {
  text-shadow: 1px 1px 1px #aaa;
}
.shadow-4 {
  text-shadow: 1px 1px 1px #aaa;
}
.shadow-6 {
  text-shadow: 1px 1px 1px #aaa;
}
.shadow-8 {
  text-shadow: 1px 1px 1px #aaa;
}
.shadow-10 {
  text-shadow: 1px 1px 1px #aaa;
}
.shadow-12 {
  text-shadow: 1px 1px 1px #aaa;
}
.shadow-14 {
  text-shadow: 1px 1px 1px #aaa;
}
.shadow-16 {
  text-shadow: 1px 1px 1px #aaa;
}
.shadow-20 {
  text-shadow: 1px 1px 1px #aaa;
}
.shadow-24 {
  text-shadow: 1px 1px 1px #aaa;
}
.shadow-28 {
  text-shadow: 1px 1px 1px #aaa;
}
.shadow-32 {
  text-shadow: 1px 1px 1px #aaa;
}